# ========================
# Python-related ignores
# ========================
__pycache__/
*.py[cod]
*$py.class

# Ignore compiled bytecode in subdirectories
**/__pycache__/
**/*.py[cod]

# Ignore pip environment and conda directories
.env/
.venv/
env/
venv/
.conda/

# ========================
# Jupyter Notebook checkpoints
# ========================
.ipynb_checkpoints/

# ========================
# IDE / Editor specific
